<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Demo Bundle{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% stylesheets filter='lessphp' '@TwentyfourAppBundle/Resources/less/styles.less' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    <script type="text/javascript" src="{{ asset('js/lib/require/require.js') }}"></script>
    <script type="text/javascript">
        define('config', {
            baseUrl: '{{ url('_welcome') }}'
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Twentyfour</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="{{ url('_login') }}">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Notice</strong> {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>
